* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    background-color: black;
}

.image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    

}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.image .show {
    opacity: 1;
}

.buttons {
    text-align: center;
    cursor: pointer;


}

.buttons div {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.images {
    display: none;
}

.trButton {
    margin-left: 700px;
}